@font-face {
    font-family: Lato-Bold;
    src: url('../../Content/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Regular;
    src: url('../../Content/fonts/Lato-Regular.ttf') format('truetype');
}



/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}


/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

#dashboard-table {
    width: 95.7%;
    background-color: transparent;
    margin-left: 0;
    margin-right: auto;
}

#users-dashboard-table {
    width: 98%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#user-form input {
    background-color: white;
}

#user-blogs input {
    background-color: white;
}

#user-blogs textarea {
    background-color: white;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.input-group {
    width: 85%;
}

#top-search {
    padding-right: 50px;
}

    #top-search:focus {
        background-color: white !important;
        border: 1px solid #f1f1f1 !important;
        outline: 0;
        box-shadow: none !important;
        border-right: none !important;
    }

.form-control {
    display: block;
    width: 70%;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: dimgrey;
    font-family: Lato-Regular;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 10px;
}

.btn-secondary {
    color: #000;
    background-color: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    padding: 0% 6%;
    border-left: none;
}

    .btn-secondary:hover {
        color: #d2d2d2 !important;
        background-color: white !important;
        border: 1px solid #f1f1f1 !important;
        border-left: none !important;
    }

.form-control:focus {
    background-color: white !important;
    border: 1px solid #f1f1f1 !important;
    outline: 0;
    box-shadow: none !important;
}

.btn-secondary:focus, .btn-secondary:focus {
    box-shadow: none !important;
}

#sidebar.active #side-menu {
    padding-left: 0px;
    font-size: 9px;
    display: block;
}

#sidebar.active #side-menu-users {
    padding-left: 0px;
    font-size: 9px;
    display: block;
}

.blog-div {
    background-color: white;
    padding-left: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

    .blog-div p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-family: Lato-Bold;
        font-size: 16px;
        color: #676767;
    }

#top-row {
    background-color: #f5f5f5;
}

    #top-row th {
        font-family: Lato-Bold;
        color: #767676;
        font-size: 12px;
    }

#serial {
    padding-left: 42px;
    width: 65px;
}

#eye {
    color: #97c949 !important;
    font-size: 12px !important;
}

#edit {
    color: #ffc400 !important;
    font-size: 12px !important;
    margin-left: 10px !important;
}

#serial-no {
    padding-left: 42px !important;
}

#trash {
    color: #dc4c29 !important;
    font-size: 12px !important;
    margin-left: 10px !important;
}

#entries {
    margin: 0px !important;
    padding: 0px !important;
    font-family: Lato-Regular;
    color: #888888;
    font-size: 12px;
}

#table-1 {
    margin-bottom: 0 !important;
}

.pagination {
    display: inline-block;
    float: right;
    margin-right: 7.5%;
}

    .pagination a {
        color: #9f9e9a;
        /* float: left; */
        padding: 2px 7px 3px 7px;
        text-decoration: none;
        border-radius: 50px;
        /* float: none; */
        font-family: Lato-Regular;
        font-size: 12px;
    }

#user-form {
    background-color: white;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    padding: 23px 20px 130px 30px;
}

#dots {
    padding-top: 20px !important;
    color: #bfbfbf;
}

#user-form label {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #7a7a7a;
}

#user-blogs label {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #7a7a7a;
}

#blog-text {
    border-radius: 5px;
    width: 60%;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
}

#user-blogs {
    background-color: white;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    padding: 23px 20px 100px 30px;
}

#InputField {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 60%;
    margin-left: 10px;
}

#add-user {
    font-family: Lato-Bold;
    color: #666666;
    font-size: 18px;
}

#add-button {
    font-family: Poppins;
    background-color: #d7031e;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

    #add-button:hover {
        background: #f9b018;
        cursor: pointer;
    }

#blg-button {
    font-family: Poppins;
    background-color: #d7031e;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

    #blg-button:hover {
        background: #f9b018;
        cursor: pointer;
    }

#input1 {
    margin-left: 10px;
}

.entries {
    margin-left: 30px;
}

.pagination a.active {
    color: white;
    background-color: #90bc59;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#title {
    width: 108px;
}

#author {
    width: 108px;
}

#category {
    width: 120px;
}

#description {
    width: 370px;
}

#actions {
    width: auto;
}

#data-row td {
    font-family: Lato-Regular;
    color: #888888;
    font-size: 12px;
    background-color: transparent;
    padding-right: 0;
    padding-left: 12px;
}

#role-drop button {
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
    font-family: Lato-Regular !important;
    font-size: 12px;
    color: #c8c8c8;
    background-color: white;
    margin-bottom: 8px;
}

    #role-drop button:hover {
        border: 1px solid #e5e5e5 !important;
        background-color: white !important;
        color: #7a7a7a !important;
    }

#role-drop a {
    font-family: Lato-Regular;
    font-size: 12px;
}

#blog-drop button {
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
    font-family: Lato-Regular !important;
    font-size: 12px;
    color: #c8c8c8;
    background-color: white;
    padding-right: 145px;
}

#blog-menu {
    width: 95%;
}

#img-upload {
    height: calc(1.8rem + 2px) !important;
}

    #img-upload::after {
        height: auto;
    }

#blog-drop button:hover {
    border: 1px solid #e5e5e5 !important;
    background-color: white !important;
    color: #7a7a7a !important;
}

.image-upload:hover {
    cursor: pointer;
    background-color: white !important;
    color: #7a7a7a !important;
}

.image-upload {
    color: #c8c8c8 !important;
}

#blog-drop a {
    font-family: Lato-Regular;
    font-size: 12px;
}

#nav-search {
    border-radius: 50px;
    padding-top: 4px;
}

#image-title {
    font-family: Lato-Bold;
    color: #d7031e;
    padding-bottom: 0px;
    padding-top: 0px;
}

sub {
    right: 76% !important;
    bottom: -1.6em !important;
    color: #bfbfbf;
}

::-webkit-input-placeholder {
    font-family: Lato-Regular;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #c8c8c8 !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}

.navbar {
    padding: 15.5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 24px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

.btn-info {
    color: #90bc59;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

    .btn-info:hover {
        color: #90bc59;
        background-color: transparent;
        border: none;
        transition: color 0.4s ease-in-out;
    }

    .btn-info:not(:disabled):not(.disabled):active {
        color: #90bc59;
        background-color: transparent;
        border: none;
    }

        .btn-info:not(:disabled):not(.disabled):active:focus {
            box-shadow: none;
        }

    .btn-info:focus {
        box-shadow: none;
    }

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #90bc59;
    transition: all 0.3s;
}

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header #h3,
        #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 5px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

#side-icons {
    font-size: 15px;
}

/*#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}*/

#sidebar .sidebar-header {
    padding: 10px 20px 0px 10px;
    background: white;
    box-shadow: -6px -8px 12px 0px black;
}

    #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#side-menu {
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    padding-left: 15px;
    margin-bottom: 0px !important;
}

#side-menu-users {
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: Lato-Regular;
    color: white;
    padding-left: 20px;
    margin-bottom: 0px !important;
}

#sidebar ul li a {
    padding: 15px 25px 15px 25px;
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
    font-family: Lato-Regular;
    color: white;
}

    #sidebar ul li a:hover {
        color: #fff;
        background: rgba(106, 106, 106, 0.2);
        border-left: 3px solid white;
    }

#sidebar ul li.active > a {
    color: #fff;
    background: rgba(106, 106, 106, 0.2);
    border-left: 3px solid white;
}


#sidebar ul li a i {
    /* margin-right: 10px;*/
}



/*#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgba(106, 106, 106, 0.2);
    border-left:3px solid white;
}*/

a[data-toggle="collapse"] {
    position: relative;
}

/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}



/* ---------------------------------------------------
    TABLE CONTENT
----------------------------------------------------- */

.table_header_text {
    text-align: center;
}


.row-margin-bottom {
    margin-bottom: 10px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -18px !important;
}

.logo-height {
    height: 63px;
}

.sidebar-iconSize {
    height: 20px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.table_icon_Link {
    margin: 0px 3px;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
        /*.dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }*/
        #sidebar.active {
            margin-left: 0 !important;
        }

        #sidebar .sidebar-header h3,
        #sidebar .CTAs {
            display: none;
        }

        #sidebar .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            padding: 20px 10px;
        }

            #sidebar ul li a span {
                font-size: 0.85em;
            }

            #sidebar ul li a i {
                margin-right: 0;
                display: block;
            }

        #sidebar ul ul a {
            padding: 10px !important;
        }

        #sidebar ul li a i {
            font-size: 1.3em;
        }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 992px) {
    #ComplaintSearch_txt {
        margin-left: 5%;
    }
}

@media(max-width: 767px) {
    #table-1 {
        width: 98%;
        overflow-x: hidden;
    }

    #customWidth {
        width: 98%;
        overflow-x: hidden;
    }
}
/* ---------------------------------------------------
    Status Toggle Button
----------------------------------------------------- */


.toggle.btn-xs {
    width: 70px;
    background: #e6e4e1;
    min-width: 65px;
    min-height: 20px;
    border-radius: 15px;
    height: 18px !important;
    margin-left: 0px;
    height: 20px;
}

.toggle-off.btn-xs {
    padding-left: 0px !important;
}

.toggle-handle {
    position: relative;
    margin: 0px auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    width: 0;
    border-width: 0 1px;
    display: block;
    width: 14px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    height: 70%;
    top: 3px;
    bottom: 0;
    right: 69px;
    border-radius: 29px;
    transition: all 0.3s ease-in 0s;
}

.off .toggle-group span.btn.btn-default.btn-xs.toggle-handle {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    width: 0;
    border-width: 0 1px;
    display: block;
    width: 14px;
    position: absolute;
    border-radius: 29px;
    bottom: 0;
    margin: -9px 0px;
    text-align: initial;
    font-size: 12px;
    top: 12px;
    left: 68px;
    right: 47%;
    transition: all 0.3s ease-in 0s;
}

.toggle-group .btn-primary, .toggle-group .btn-primary:active, .toggle-group .btn-primary:focus, .toggle-group .btn-primary:checked {
    background-color: #31af9c;
}

.btn-primary, .btn-primary:hover {
    background-color: #31af9c;
}

.toggle-on {
    margin: -9px -16px;
    text-align: initial;
    font-size: 12px;
    top: 4px;
    left: 10px;
    right: 62%;
}

.toggle-off {
    position: absolute;
    font-size: 12px;
    top: -6px;
    bottom: 0;
    left: 50%;
    right: -20px;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.toggle {
    width: 70px !important;
}

#contentSideMargin {
    margin: 0px 1.6%;
}

.labelFontWeight {
    font-weight: 700;
    vertical-align: middle;
}

.iconMargin {
    margin-left: 5px;
}

.table {
    width: 95%;
    border: 1px solid #ccc;
    margin-left: 1%;
}

.panel-heading .row label {
    margin-left: 5.2%;
    margin-top: 2%;
    vertical-align: middle;
    font-weight: 600;
}

.btn-dark {
    color: #fff;
    background-color: #90bc59;
    border-color: #90bc59;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #90bc59;
        border-color: #90bc59;
    }

.btn-secondary:hover {
    color: #fff !important;
    background-color: #90bc59 !important;
    border: 1px solid #90bc59 !important;
    border-left: none !important;
}

.table thead th {
    font-weight: 700;
}

.table {
    width: 92%;
    border: 1px solid #ccc !important;
    margin-left: 4%;
}

.panel-heading .row label {
    margin-left: 5.2%;
    margin-top: 2%;
    vertical-align: middle;
    font-weight: 600;
}

.btn-dark {
    color: #fff;
    background-color: #90bc59;
    border-color: #90bc59;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #90bc59;
        border-color: #90bc59;
    }

.btn-secondary:hover {
    color: #fff !important;
    background-color: #90bc59 !important;
    border: 1px solid #90bc59 !important;
    border-left: none !important;
}

.table thead th {
    font-weight: 700;
}

.Contentmargin {
    margin-left: 1.7%;
}

.NECommon {
    width: 50%;
    border-radius: 1px;
    padding: 0 5px;
    margin-left: 6%;
}

.labelWeight {
    font-weight: 600;
}

#NE_Description {
    height: 120px;
    margin-left: 6%;
}

button, input, optgroup, select, textarea {
    font-size: 12px;
}

.marginTop {
    margin-top: 10px;
}

table thead th, table tbody tr {
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    color: #fff !important;
    border: 1px solid #979797;
    border-radius: 50%;
    background-color: #90bc59 !important;
    padding: 0px 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    font-size: 15px !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    font-size: 15px;
    padding: 0px;
}

.table-bordered td {
    border: none;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border-radius: 12px;
    height: 25px;
    width: 220px;
    border: 1px solid #ccc;
    padding: 0px 8px;
}

.modal-header {
    background: #90bc59;
    color: #fff;
    padding: 1% 4%;
}

.close {
    color: #fff;
    opacity: 1;
}

#Description,#Message,#Comments{
    width: 70%;
    height: 120px;
    min-height: 120px;
    border-radius: 10px;
    padding: .375rem .75rem;
}
#AdminComments {
    width: 100%;
    height: 80px;
    min-height: 80px;
    border-radius: 10px;
    padding: .375rem .75rem;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    color: #fff !important;
    border: 1px solid #979797;
    border-radius: 50%;
    background-color: #90bc59;
    padding: 0px 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: #fff;
    border: 1px solid #979797;
    background-color: #90bc59;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.BodyMargin {
    margin: 0 3%;
}

.rightFloat {
    float: right;
}

.btn-custom {
    background-color: #90bc59;
    color: #fff !important;
    padding: 1px 5px;
    border-radius: 6px;
    text-align: center;
    min-width: 60px;
    display: inline-block;
    background-image: none;
}

#Answer {
    width: 70%;
    height: 120px;
    min-height: 120px;
    border-radius: 10px;
    padding: .375rem .75rem;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold;
}

.submitButtonPadding {
    font-size: 15px !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}
/*table.dataTable.no-footer {
    border-bottom: none !important;
}*/
#FAQsData_paginate, #FAQsData_info, #FeedbackData_paginate, #FeedbackData_info, #NewsEventsData_paginate, #NewsEventsData_info {
    margin-top: 0.5%;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: not-allowed;
    background: none;
    padding: 0px;
}

.modal-content {
    width: 80%;
    margin-left: 13.5%;
    border-radius: .3rem;
}

.model-body label {
    padding: 4px 14px;
}

.model-body {
    padding: 1% 4%;
}

.modal-footer {
    padding: 1% 3%;
}

.model-header {
    padding: 1% 4%;
}

table thead {
    width: auto !important;
}

    table thead th, table tbody tr {
        word-break: break-all;
        text-align: left;
    }

table.dataTable thead th, table.dataTable thead td {
    padding: 2px 18px !important;
    vertical-align: middle;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px 18px !important;
}

table thead th {
    width: 1px;
    text-align: left;
    vertical-align: middle;
}

.table td, .table th {
    vertical-align: middle;
}

.table tbody tr td {
    font-size: 12px;
}

.table thead th:last-child, .table tbody td:last-child {
    text-align: center;
    width: 70px !important;
}

/*.table tbody tr td:first-child {
    background: #d7e8c280;
    font-weight: bold;
}*/

table.dataTable thead .sorting_desc {
    /*background-image: url(../images/sort_desc.png);*/
    background-image: url('../img/sort_down.png');
}

table.dataTable thead .sorting_asc {
    /*background-image: url(../images/sort_asc.png);*/
    background-image: url('../img/sort_up.png');
}

table.dataTable thead .sorting {
    background-image: url('../img/sort_both.png');
    margin-right: 1px;
}

.dataTables_info {
    font-size: 10px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #d7e8c280;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled, table.dataTable thead .sorting {
    background-position: center left;
}

.faqQuestion {
    background-color: #f1d5d52b;
    font-weight: bold;
    font-weight: bold;
    height: 50px;
    padding-top: 1%;
    padding-left: 3%;
}

.faqAnswer {
    height: auto;
    padding-top: 2%;
    margin-bottom: 1%;
    padding-left: 3%;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    min-width: 8rem;
    padding: .2rem 6px;
}

ul.dropdown-menu {
    top: -18px !important;
    left: -60px !important;
    font-size: 12px;
}

ul.dropdown-menu li:hover, ul.dropdown-menu li a:hover {
    background-color: #90BC59;
    color: #fff;
}

ul.dropdown-menu li {
    margin-top: 5px;
    padding: 3px;
}

.faqHeight {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.NewcustomMargin {
    margin-right: 50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Model-form-control {
    display: block;
    width: 100%;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    line-height: 0.1;
    color: dimgrey;
    font-family: Lato-Regular;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    /* border-radius: 10px; */
}
.Model-form-control:disabled, .Model-form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.Model-label{
    font-size: 12px;
    font-weight: 800;
}
.Model-Data {
    font-size: 14px;
}
    