﻿@model AdminPanelPecApi.Models.NewsEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Application Scripts/NewsEvents.js"></script>
<div class="BodyMargin">

    @using (Html.BeginForm("Create", "NewsEvents", FormMethod.Post, new { enctype = "multipart/form-data" ,@id="newsEventForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NewsEvent</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-lg-8">
                        @*@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",@placeholder="Description" } })*@
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        @*@Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Image</label>
                    </div>
                    <div class="col-lg-2">
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*<img id="blah" src="" height="100px" width="100px" />*@
                        @*@Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })*@
                        <input type='file' id="fileUpload" onchange="readURL(this);" />

                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">


                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <a class="btn-custom saveCreate" title="Save News/Event">Create</a>
                        @*<input type="submit" value="Create" class="btn btn-custom" />*@
                        <a href="/NewsEvents/Index/" class="btn-custom" title="View NewsEvents">Back</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>