﻿@model AdminPanelPecApi.Models.NewsEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="BodyMargin">
    <h2>Details</h2>

    <div>
        <h4>NewsEvent</h4>
        <hr />


        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label>Title</label>
                </div>
                <div class="col-lg-6">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label>Description</label>
                </div>
                <div class="col-lg-6">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label>Image</label>
                </div>
                <div class="col-lg-4">
                    <img src="~/uploads/@Model.ImageUrl" height="100px" width="100px" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <p>
                    <a href="/NewsEvents/Edit/@Model.ID" class="btn-custom" title="Edit Event">Edit</a>
                    @* @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
                    @*@Html.ActionLink("Back to List", "Index")*@
                    <a href="/NewsEvents/Index/" class="btn-custom" title="Views Event">Back</a>
                </p>
            </div>
        </div>
    </div>

</div>
