﻿@model AdminPanelPecApi.Models.NewsEvent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Application Scripts/NewsEvents.js"></script>
<div class="BodyMargin">
    <h2>Edit</h2>

    @using (Html.BeginForm("Edit", "NewsEvents", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NewsEvent</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)



            <div class="form-group">
                <div class="row">

                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-lg-8">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Image</label>
                    </div>
                    <div class="col-lg-6">
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*<img id="blah" src="" height="100px" width="100px" />*@
                        @*@Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })*@
                        <img src="~/uploads/@Model.ImageUrl" height="50px" width="50px" />
                        <input type='file' name="file" onchange="readURL(this);" />
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <input type="submit" value="Save" class="btn-custom submitButtonPadding" />
                        <a href="/NewsEvents/Index/" class="btn-custom" title="Views Event">Back</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>