﻿@model IEnumerable<AdminPanelPecApi.Models.NewsEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Application Scripts/NewsEvents.js"></script>
<div class="BodyMargin">
    <div class="row">
        <div class="col-lg-4">
            <label>News&amp;Events</label>

        </div>
        <div class="col-lg-8">
            <a href="/NewsEvents/Create/" class="rightFloat btn-custom" title="Add Event">New</a>

        </div>

    </div>
    <table id="NewsEventsData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
                @*<th>Image</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            <img src="~/uploads/@item.ImageUrl" height="20px" width="20px" />
                        </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                        <a href='@Url.Action("Details", "NewsEvents",new { id=item.ID })'>
                            <img src="~/img/view.png" class="table_icon_Link" />
                        </a>
                        <a href='@Url.Action("Edit", "NewsEvents",new { id=item.ID })'>
                            <img src="~/img/edit.png" class="table_icon_Link" />
                        </a>
                        <a class="deleteEvent" data-toggle='modal' data-target='#DeleteModel' value="@item.ID"  href='@Url.Action("Delete", "NewsEvents",new { id=item.ID })'>
                            <img src="~/img/delete.png" class="table_icon_Link" />
                        </a>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>


    </table>

</div>
<!--****************** Delete PopUp Model ********************  -->

<div class="modal" tabindex="-1" id="DeleteModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">News&Event</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Are You Sure, You Want to Delete News&Event?</label>
                <input type="hidden" id="DeletedRow" name="DeletedRow">
            </div>
            <div class="modal-footer">
                <button id="DeleteButton" type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
