﻿@model AdminPanelPecApi.Models.FAQ

@{
    ViewBag.Title = "Details";
}

<div class="BodyMargin">
    <h2>Details</h2>

    <div>
        <h4>FAQ</h4>
        <hr />

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label>Question</label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Statement)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label>Answer</label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Answer)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <a href="/Faqs/Edit/@Model.ID" class="btn-custom" title="Edit FAQ">Edit</a>
                <a href="/Faqs/Index/" class="btn-custom" title="Views Event">Back</a>
            </div>
        </div>
    </div>
    @*<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
</div>