﻿@model IEnumerable<AdminPanelPecApi.Models.FAQ>

@{
    ViewBag.Title = "Index";
}
<script src="~/Content/Application Scripts/FAQ.js"></script>

<div class="BodyMargin faqHeight">
    @*<label><b>Question</b></label>*@
    <div class="row">
        <div class="col-lg-4">
            <label><b>FAQs</b></label>

        </div>
        <div class="col-lg-8">
            <a href="/FAQs/Create/" class="rightFloat btn-custom NewcustomMargin" title="Add FAQ">New</a>
        </div>

    </div>
    @foreach (var item in Model)
            {
        <div>
            <div class="row">
                <div class="col-lg-11 faqQuestion">
                    @Html.DisplayFor(modelItem => item.Statement)
                </div>
                <div class="col-lg-1">
                    <a data-toggle="dropdown" class="pull-right dropdown-toggle">
                        <img src="~/img/dots.png">
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href='@Url.Action("Details", "FAQs",new { id=item.ID })'>
                                @*<img src="~/img/view.png" class="table_icon_Link" />*@
                            View
                            </a>
                        </li>
                        <li>
                            <a class="editEvent" value="@item.ID" href='@Url.Action("Edit", "FAQs",new { id=item.ID })'>
                                @*<img src="~/img/edit.png" class="table_icon_Link" />*@
                                Edit
                            </a>
                        </li>
                        <li>
                            <a class="deleteEvent" data-toggle='modal' data-target='#DeleteModel' value="@item.ID" href='@Url.Action("Delete", "FAQs",new { id=item.ID })'>
                                @*<img src="~/img/delete.png" class="table_icon_Link" />*@
                                Delete
                            </a>
                        </li>
                    </ul>
    @*<img class="showcrudMenu" src="~/img/dots.png" />*@
                </div>


            </div>
            <div class="row">

                <div class="col-lg-11 faqAnswer">
                   
                        @Html.DisplayFor(modelItem => item.Answer)
                 
                </div>
            </div>

        </div>
        @*<div class="col-lg-4">
                <a href='@Url.Action("Details", "FAQs",new { id=item.ID })'>
                    <img src="~/img/view.png" class="table_icon_Link" />
                </a>
                <a class="editEvent" value="@item.ID" href='@Url.Action("Edit", "FAQs",new { id=item.ID })'>
                    <img src="~/img/edit.png" class="table_icon_Link" />
                </a>
                <a class="deleteEvent" data-toggle='modal' data-target='#DeleteModel' value="@item.ID" href='@Url.Action("Delete", "FAQs",new { id=item.ID })'>
                    <img src="~/img/delete.png" class="table_icon_Link" />
                </a>
            </div>*@

        @*<div class="col-lg-1 no_right_padding crudMenu">
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href='@Url.Action("Details", "FAQs",new { id=item.ID })'>
                        <img src="~/img/view.png" class="table_icon_Link" />
                    </a>
                </li>
                <li>
                    <a class="editEvent" value="@item.ID" href='@Url.Action("Edit", "FAQs",new { id=item.ID })'>
                        <img src="~/img/edit.png" class="table_icon_Link" />
                    </a>
                </li>
                <li>
                    <a class="deleteEvent" data-toggle='modal' data-target='#DeleteModel' value="@item.ID" href='@Url.Action("Delete", "FAQs",new { id=item.ID })'>
                        <img src="~/img/delete.png" class="table_icon_Link" />
                    </a>
                </li>

            </ul>
        </div>*@
    }

</div>
<!--****************** Delete PopUp Model ********************  -->

<div class="modal" tabindex="-1" id="DeleteModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">FAQs</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Are You Sure, You Want to Delete FAQ?</label>
                <input type="hidden" id="DeletedRow" name="DeletedRow">
            </div>
            <div class="modal-footer">
                <button id="DeleteButton" type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
