﻿@model IEnumerable<AdminPanelPecApi.Models.Complaint>
@using AdminPanelPecApi.Enumerations
@{
    ViewBag.Title = "ComplaintStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="BodyMargin">
    @using (Html.BeginForm("ComplaintStatus", "Complaints", FormMethod.Get))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label><b>Tracking ID</b></label>
                </div>
                <div class="col-lg-2">
                    <input type="text" name="trackingID" placeholder="Enter Tracking ID" />
                </div>
                <div class="col-lg-1">
                    <input type="submit" value="Search" name="Search" />
                </div>
            </div>
        </div>
    }

    @if (Model.Count() <= 0)
    {
        <label><b class="hideMessage">Record Doesn't Exist</b></label>
    }
    else
    {
        foreach (var item in Model)
        {


            <div class="form-group">
                <div class="row">

                    <div class="col-lg-2">
                        <label>Subject</label>
                    </div>
                    <div class="col-lg-8">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-2">
                        <label>Message</label>
                    </div>
                    <div class="col-lg-8">
                        @Html.DisplayFor(modelItem => item.Message)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Status</label>
                    </div>
                    <div class="col-lg-8">
                        @if (item.StatusID == 0)
                        {
                            <label><b>@Enumeration.ComplaintStatus.Pending</b></label>
                        }
                        @if (item.StatusID == 1)
                        {
                            <label><b>@Enumeration.ComplaintStatus.Open</b></label>
                        }
                        @if (item.StatusID == 2)
                        {
                            <label><b>@Enumeration.ComplaintStatus.Close</b></label>
                        }
                    </div>

                </div>
            </div>
                @*<p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>*@

        }

    }
</div>
