﻿@model AdminPanelPecApi.Models.Complaint

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Application Scripts/Complaints.js"></script>
<h2>Create</h2>

    <div class="BodyMargin">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Register Complaint</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <label><b>Subject</b></label>
                        </div>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Question" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    @*@Html.LabelFor(model => model.Statement, htmlAttributes: new { @class = "control-label col-md-2" })*@
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <label><b>Message</b></label>
                        </div>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                @*<div class="form-group">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <label><b>Comments</b></label>
                        </div>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>

                    </div>*@
                </div>

                @*<div class="form-group">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <label><b>CNIC</b></label>
                        </div>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.TrackingID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TrackingID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2">
                            @*<input type="submit" value="Create" class="btn btn-default saveCreate" />*@
                            <a class="btn-custom registerComplaint" title="Register Complaint">Register</a>
                            <a href="/Complaints/Index/" class="btn-custom" title="View Complaints">Back</a>
                        </div>
                    </div>

                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>*@
            </div>
        }
    </div>
