﻿@model AdminPanelPecApi.Models.Complaint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Application Scripts/Complaints.js"></script>
<div class="BodyMargin">
    <h2>Details</h2>

    <div>
        <h4>Compalints</h4>
        <hr />
        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label><b>Tracking ID</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.TrackingID)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label> <b>Subject</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Subject)
                </div>
            </div>
        </div>
        <div class="loader"></div>
        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label><b>Message</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Message)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label><b>Email</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label><b>Comments</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Comments)
                </div>
            </div>
        </div>*@
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                @*<a href="/Faqs/Edit/@Model.ID" class="btn-custom" title="Edit FAQ">Edit</a>*@
                <a class="SendEmailEvent btn-custom" data-toggle='modal' data-target='#EmailModel' id="ForwardEmailRow" value="@Model.ID" href="#" title="Forward Complaints">Forward</a>
                <a href="/Complaints/Index/" class="btn-custom" title="Views Complaints">Back</a>
            </div>
        </div>
    </div>
    @*<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
</div>
<!--******************************Email Forward Popup****************************************-->

<div class="modal" tabindex="-1" id="EmailModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Forward Complaint</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ComplaintID" name="ForwardEmailRow">
                
                    
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">TrackID</label>
                    </div>
                    <div class="col-lg-8">
                        <label class="Model-Data" id="TrackingID">@Model.TrackingID</label>
                        @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="TrackingID" value="@Model.TrackingID" name="forwardComments" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">Subject</label>
                    </div>
                    <div class="col-lg-8">
                        <label class="Model-Data" id="Subject">@Model.Subject</label>
                        @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="Subject" value="@Model.Subject" name="forwardComments" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">Message</label>
                    </div>
                    <div class="col-lg-9">
                        <label class="Model-Data">@Model.Message</label>
                        @*<input class="form-control" disabled="disabled" readonly="readonly" id="Message" value="@Model.Message" name="forwardComments" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Model-label">To</label>
                    </div>
                    <div class="col-lg-8">
                        <input class="Model-form-control" autocomplete="on" id="ToEmail" name="ToEmail" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Model-label">Comments</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" id="AdminComments" name="forwardComments"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SendEmailButton" type="button" class="btn btn-secondary">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--*********************************LOADER*****************************************-->
