﻿@model AdminPanelPecApi.Models.Complaint

@{
    ViewBag.Title = "GetEmailRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Application Scripts/Complaints.js"></script>
<h2>GetEmailRecord</h2>

<div class="BodyMargin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row">
            <div class="col-lg-2">
                <label class="Model-label">TrackID</label>
            </div>
            <div class="col-lg-8">
                <label class="Model-Data" id="TrackingID">@Model.TrackingID</label>
                @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="TrackingID" value="@Model.TrackingID" name="forwardComments" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label class="Model-label">Subject</label>
            </div>
            <div class="col-lg-8">
                <label class="Model-Data" id="Subject">@Model.Subject</label>
                @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="Subject" value="@Model.Subject" name="forwardComments" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label class="Model-label">Message</label>
            </div>
            <div class="col-lg-9">
                <label class="Model-Data">@Model.Message</label>
                @*<input class="form-control" disabled="disabled" readonly="readonly" id="Message" value="@Model.Message" name="forwardComments" />*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label class="Model-label">To</label>
            </div>
            <div class="col-lg-4">
                <input class="Model-form-control" autocomplete="on" id="ToEmail" name="ToEmail" />
            </div>
        </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">Comments</label>
                    </div>
                    <div class="col-lg-4">
                        <textarea class="form-control" id="AdminComments" name="forwardComments"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-lg-2"></div>
                        <div class="col-lg-2">
                            @*<a href="/Faqs/Edit/@Model.ID" class="btn-custom" title="Edit FAQ">Edit</a>*@
                            <a class="SendEmailButton btn-custom" data-toggle='modal' data-target='#EmailModel' id="ForwardEmailRow" value="@Model.ID" href="#" title="Forward Complaints">Send Email</a>
                            <a href="/Complaints/Index/" class="btn-custom" title="Views Complaints">Back</a>
                            @*<button id="SendEmailButton" type="button" class="btn btn-secondary">Send Email</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                        </div>
                    </div>
                </div>
    }
</div>