﻿@model IEnumerable<AdminPanelPecApi.Models.Complaint>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    }

<script src="~/Content/Application Scripts/Complaints.js"></script>

<div class="BodyMargin">
    <div class="row">
        <div class="col-lg-4">
            <label><b>Complaints</b></label>

        </div>
        <div class="col-lg-8">
            @*<a href="/FAQs/Create/" class="rightFloat btn-custom" title="Add FAQ">New</a>*@
        </div>

    </div>
    <table id="ComplaintsData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Tracking ID</th>
                <th>Subject</th>
                <th>Message</th>
                @*<th>Email</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingID)
                    </td>
                    <td title="@item.Subject">
                        @*@Html.DisplayFor(modelItem => item.Subject)*@
                        @{
                            if (item.Subject.Length < 30)
                            {
                                @item.Subject;
                            }
                            else
                            {
                                @item.Subject.Substring(0, 30);
                            }
                        }
                       
                    </td>
                    <td title="@item.Message">
                        @*@Html.DisplayFor(modelItem => item.Message)*@
                        @{
                            if (item.Message.Length < 30)
                            {
                                @item.Message;
                            }
                            else
                            {
                                @item.Message.Substring(0, 30);
                            }
                        }
                       
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>*@
                   
                    @*<td>
                            <img src="~/uploads/@item.ImageUrl" height="20px" width="20px" />
                        </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                        <a href='@Url.Action("Details", "Complaints",new { id=item.ID })'>
                            <img src="~/img/view.png" class="table_icon_Link" />
                        </a>
                        @*<a href='@Url.Action("Mail", "Complaints",new { id=item.ID })'>*@
                         
                            @*id = item.ID;*@
                        @*href='@Url.Action("SendEmail", "Complaints", new { id = item.ID })'*@
                        @*class="SendEmailEvent" data-toggle='modal' data-target='#EmailModel' id="ForwardEmailRow" value="@item.ID"*@ 
                        @*<a href='@Url.Action("GetEmailRecord", "Complaints",new { id=item.ID })' >
                            <img src="~/img/email.png" class="table_icon_Link" />
                        </a>*@


                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>


    </table>

</div>
<!--******************************Email Forward Popup****************************************-->

<div class="modal" tabindex="-1" id="EmailModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Forward Complaint</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ComplaintID" name="ForwardEmailRow">

               
                  @*  var modelData = Model.Where(x => x.ID == id).FirstOrDefault();*@
                
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">TrackID</label>
                    </div>
                    <div class="col-lg-8">
                        <label class="Model-Data" id="TrackingID" value=""></label>
                        @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="TrackingID" value="@Model.TrackingID" name="forwardComments" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label">Subject</label>
                    </div>
                    <div class="col-lg-8">
                        <label class="Model-Data" id="Subject"></label>
                        @*<input class="Model-form-control" disabled="disabled" readonly="readonly" id="Subject" value="@Model.Subject" name="forwardComments" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="Model-label" id="Message">Message</label>
                    </div>
                    <div class="col-lg-9">
                        <label class="Model-Data" value=""></label>
                        @*<input class="form-control" disabled="disabled" readonly="readonly" id="Message" value="@Model.Message" name="forwardComments" />*@
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <label class="Model-label">To</label>
                    </div>
                    <div class="col-lg-8">
                        <input class="Model-form-control" autocomplete="on" id="ToEmail" name="ToEmail" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Model-label">Comments</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" id="AdminComments" name="forwardComments"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SendEmailButton" type="button" class="btn btn-secondary">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
