﻿@model AdminPanelPecApi.Models.Feedback

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Application Scripts/Feedback.js"></script>
<div class="BodyMargin">

    @using (Html.BeginForm("Create", "Feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NewsEvent</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-lg-8">
                        @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        @*@Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>File</label>
                    </div>
                    <div class="col-lg-2">
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*<img id="blah" src="" height="100px" width="100px" />*@
                        @*@Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })*@
                        <input type='file' id="FeedbackfileUpload" name="Feedbackfile" />

                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">


                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <a class="btn-custom saveCreate" title="Save Feedback">Create</a>
                        @*<input type="submit" value="Create" class="btn btn-custom" />*@
                        <a href="/Feedback/Index/" class="btn-custom" title="View Feedback">Back</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>