﻿@model AdminPanelPecApi.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="BodyMargin">
    <h2>Details</h2>

    <div>
        <h4>Feedback</h4>
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label>Complainant</label>
                </div>
                <div class="col-lg-6">
                    <label>Complaint By (NAME) Here</label>
                    @*@Html.DisplayFor(model => model.ComplaintID)*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label>Feedback Message</label>
                </div>
                <div class="col-lg-6">
                    @Html.DisplayFor(model => model.Message)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-2">
                    <label>File</label>
                </div>
                <div class="col-lg-4">
                    @*<a href="#">File Link Here</a>*@
                    <a>@Model.FeedbackFileUrl</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <p>
                    @* @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
                    @*@Html.ActionLink("Back to List", "Index")*@
                    <a href="/feedbacks/Index/" class="btn-custom" title="Views Feedbacks">Back</a>
                </p>
            </div>
        </div>
    </div>

</div>
