﻿@model IEnumerable<AdminPanelPecApi.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="BodyMargin">
    <div class="row">
        <div class="col-lg-4">
            <label>Feedback</label>

        </div>
        <div class="col-lg-8">
            @*<a href="/NewsEvents/Create/" class="rightFloat btn-custom" title="Add Event">New</a>*@
        </div>

    </div>
    <table id="FeedbackData" class="table table-striped table-bordered">
        <thead>
            <tr>
               @* <th>Complainant</th>*@
                <th>Message</th>
                <th>File</th>
                @*<th>Image</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ComplaintID)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.FeedbackFileUrl)*@
                        <a href="#">@item.FeedbackFileUrl</a>
                    </td>
                    @*<td>
                            <img src="~/uploads/@item.ImageUrl" height="20px" width="20px" />
                        </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                        <a href='@Url.Action("Details", "Feedbacks",new { id=item.ID })'>
                            <img src="~/img/view.png" class="table_icon_Link" />
                        </a>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>


    </table>

</div>
