﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/favicon.png">
    <title>PEC-Complaint Poratl</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/6066817ea1.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <link href="~/Content/Application/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <!--<h3>Bootstrap Sidebar</h3> -->
                <div id="h3">
                    <img src="~/img/logo.png" alt="Alternate Text" id="h3" class="mx-auto logo-height d-block" />
                </div>
                <strong><img src="~/img/Collapse_logo.png" class="logo-height" alt="Alternate Text" /></strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/Complaints/index/">
                        <img class="sidebar-iconSize" src="~/img/dash%20board.png" />
                        <p id="side-menu">Complaints</p>
                    </a>
                </li>
                <li>
                    <a href="/NewsEvents/Index">
                        <img class="sidebar-iconSize" src="~/img/contract.png" />
                        <p id="side-menu">News&amp;Events</p>
                    </a>
                </li>
                <li>
                    @*data-toggle="collapse" aria-expanded="false"*@
                    <a href="/Feedbacks/Index">
                        <img class="sidebar-iconSize" src="~/img/feedback.png" />
                        <p id="side-menu">Feedback</p>
                    </a>
                </li>
                <li>
                    <a href="/FAQs/Index">
                        <img class="sidebar-iconSize" src="~/img/FAQ.png" />
                        <p id="side-menu">FAQs</p>
                    </a>
                </li>
                <li>
                    <a href="~/Discounts/index/">
                        <img class="sidebar-iconSize" src="~/img/logout.png" />
                        <p id="side-menu">Discount Offers</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidebar-iconSize" src="~/img/logout.png" />
                        <p id="side-menu">Logout </p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <div class="navHeaderRight">
                <nav class="navbar navbar-expand-lg navbar">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <span class="dark-blue-text">
                                <i class="fas fa-bars fa-1x"></i>
                            </span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto"></ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="Content-Data">
                @RenderBody()
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#NewsEventsData').DataTable();
            $('#FeedbackData').DataTable();
            $('#FAQsData').DataTable();
            $('#DiscountData').DataTable();
            $('#ComplaintsData').DataTable();


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('p').toggle('#side-menu');

            });

            $('#user-form').hide();
            $('#users-dashboard-table').hide();
            $('#user-blogs').hide();

            $('#dash').click(function () {
                $('#dash').addClass('active');
                $('#users').removeClass('active');
                $('#users-table').removeClass('active');
                $('#blog').removeClass('active');

                $('#user-form').hide();
                $('#dashboard-table').show();
                $('#users-dashboard-table').hide();
                $('#user-blogs').hide();
            });


        });


    </script>

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
